*{
    font-family: Roboto;
    font-style: italic;
}

.homepage {
    display: flex;
    flex-direction: column;
    height: 100vh;
  
    .header {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      background-color: #eff7f9;
  
      .logo {
        font-weight: bold;
        font-size: 1.5rem;
        color: #0056b3;
      }
  
      .login-button {
        padding: 0.5rem 1rem;
        border: none;
        background-color: #0056b3;
        color: white;
        cursor: pointer;
        border-radius: 0.25rem;
        font-size: 1rem;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    .main-content {
      flex: 1;
      display: flex;
      padding: 1rem;
  
      .image-section {
        flex: 1;
        img {
            margin-top: 50px;
          max-width: 100%;
          height: auto;
        }
        p{
            color: #0056b3;
            font-weight: 600;
            font-style: italic;
            text-align: center;
        }
      }
  
      .form-section {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .join-form {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 300px;
  
          input {
            margin-bottom: 1rem;
            padding: 0.5rem;
            border: 1px solid #ddd;
            border-radius: 0.25rem;
            outline: #0056b3;
          }
  
          .join-button {
            padding: 0.5rem;
            border: none;
            background-color: #0056b3;
            color: white;
            cursor: pointer;
            border-radius: 0.25rem;
  
            &:hover {
              background-color: #024995;
            }
          }
        }
      }
    }
  
    .footer {
      padding: 1rem;
      background-color: #f8f8f8;
      text-align: center;
    }
  }
  .login-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    outline: none;
    max-width: 400px;
    width: calc(100% - 40px);
  
    h2 {
      margin-bottom: 20px;
      color: #0056b3;
      font-size: 24px;
    }
  
    .close-modal {
      position: absolute;
      top: 15px;
      right: 15px;
      border: none;
      background: transparent;
      font-size: 18px;
      font-style: normal !important;
      cursor: pointer;
    }
  
    .login-form {
      display: flex;
      flex-direction: column;
  
      input {
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        outline: #0056b3;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  
        &:focus {
          border-color: #007bff;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
      }
  
      .submit-login {
        padding: 15px;
        background-color: #0056b3;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.2s;
  
        &:hover {
          background-color: #024a97;
        }
      }
    }
  }
  
  .login-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
  }
  